<article className="card" >
    <div className="card-header" >
        <h3 className="card-title" >
            bambo title
        </h3>
        <h4 className="card-price" >Pledge $25 or more</h4>
    </div>
    <p className="paragraphe" >
    onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <div className="card-footer" >
        <div className="qtt" >
            <h2>101</h2>
            <span className="subtitle" >left</span>
        </div>
        <button className="btn green" >
            Select Reward
        </button>
    </div>
</article>